* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FFE3CC;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.16);
  width: 700px;
  margin: 20px auto;
  padding: 20px;
  
}

h1 {
  color: #F2B263;
  text-align: center;
  text-shadow: 1px 0px 25px #F2B263;
}

h2 {
  color: #86A69D;
}

p {
  text-align: justify;
}